.DS_Store
*.[568ao]
*.a[568o]
*.so
*.pyc
._*
*~
*.orig
*.rej
*.exe
.*.swp
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_test*
*.out
*.cache
_scratch
_todo
_new
_old
backend/bin
frontend/dist
frontend/node_modules
backend/core.[0-9]*
backend/*.core
backend/.build
.kube
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.exe
*.sum
*.
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__*
